<p>
  <b>Donor:</b>
  <%= formatted_donor(@donation) %>
</p>

<p>
  <b>Phone:</b>
  <%=h @donation.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @donation.email %>
</p>

<p>
  <b>Donation description:</b>
  <%=h @donation.donation_description %>
</p>

<p>
  <b>Donation value:</b>
  <%=h @donation.donation_value %>
</p>

<p>
  <b>Source:</b>
  <%=h @donation.source %>
</p>

<p>
  <b>Contact again:</b>
  <%= @donation.contact_again ? "Yes" : "No" %>
</p>

<p>
  <b>Status:</b>
  <%=h formatted_status(@donation) %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
